<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <!--Informacion para las variables string donde se almacena el tipo de servidor-->
    <add key="ServerTyp1" value="Worker" />
    <add key="ServerTyp2" value="Aida" />
    <!--Informacion para las variables place1 y place2-->
    <add key="place1" value="RZ1" />
    <add key="place2" value="RZ2" />
    <!--Informacion sobre la ubiccion de los archivos csv-->
    <add key="pathServers1" value="C:\\Archivo\\csv\\WorkerProd.csv" />
    <add key="pathServers2" value="C:\\Archivo\\csv\\AidaProd.csv" />
    <add key="pathServices1" value="C:\\Archivo\\csv\\ServicesWorkerProd.csv" />
    <add key="pathServices2" value="C:\\Archivo\\csv\\ServicesAidaProd.csv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>